createdAt: "2019-04-27T05:34:31.738Z"
updatedAt: "2019-04-27T05:34:44.466Z"
type: "SNIPPET_NOTE"
folder: "c05f8ef295f4d6984977"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
