createdAt: "2019-04-27T05:09:17.997Z"
updatedAt: "2019-04-27T05:09:48.902Z"
type: "MARKDOWN_NOTE"
folder: "c05f8ef295f4d6984977"
title: "Favicons - favicon.ico Generator"
tags: []
content: "Favicons - [favicon.ico Generator](https://www.favicon.cc/)"
linesHighlighted: []
isStarred: false
isTrashed: false
